{% extends "layout.html" %}

{% block heading %}
   {{book[1]}}
{% endblock %}

{% block body %}
	<div> Author: {{book[2]}}</div>
	
    <div> Publication Year: {{book[3]}}</div>
    
    <div> ISBN: {{book[0]}}</div>

    <div> Average Rating: {{goodReads[1]}}</div>

    <div> Number of Ratings: {{goodReads[0]}}</div>

    <div> 
    	{% if reviews %}
	    	<table>
	    		<tr>
		    		<th> Reviewer </th>
		    		<th> Stars </th>
		    		<th> Review </th>
		    	</tr>
		    	{% for review in reviews %}
			    	<tr>
			    		<td> {{review[0]}} </td>
			    		<td> {{review[3]}} </td>
			    		<td> {{review[2]}} </td>
			    	</tr>
			    {% endfor %}
	    	</table>
	    {% else %}
	    	<div>There are currently no reviews for this book. You could be the first to leave one!</div>
	    {% endif %}
	</div>

	{% if reviewed %}
		<div>Thanks for your review!</div>
	{% else %}
		<div>
			Leave a Review of your own!
			<div>
				<form action="{{ url_for('review', bookId = book[4]) }}" method="post">
					<table>
						<th>
							<select id="rating" name="rating">
							  <option value=1>1 star</option>
							  <option value=2>2 star</option>
							  <option value=3>3 star</option>
							  <option value=4>4 star</option>
							  <option value=5>5 star</option>
							</select>
						</th>
						<th>
							<textarea id="review" name="review" rows="1" cols="20" required></textarea>
						</th>
						<th>
							<input type="submit" value="Submit">
						</th>
					</table>
				</form>
			</div>
		</div>
	{% endif %}


{% endblock %}