{% extends "layout.html" %}

{% block heading %}
   <div class="container-fluid welcome-container">
   		<div class="welcome">
	   		<h1>Welcome to Eamon's Library</h1>
	   		<div class="tagline">	
	   			<h3>A place for your favorite Books</h3>
	   		</div>
	   	</div>
   	</div>
{% endblock %}

{% block body %}
	<body class ="about-page">
		<div class="container-fluid about-container">
	   		<div class="about">
	    		<h3 class="about">Eamon's Library is a super cool site where you can browse thousands of books at your leisure. You can read and leave reviews of your favorite books and search by title, author or isbn number. Make an account or sign in you get started right away!
	    		</h3>
	    	</div>
	    </div>
	</body>
{% endblock %}