<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="static/scripts/activeTab.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html>
    <head>
        <title>Eamon's Library</title>
    </head>
    <nav class="navbar navbar-expand-lg navbar-light">
	  <a class="navbar-brand" href="#">Eamon's Library</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	    {% if session["view"] == "index"%}
	    	<li class="nav-item active">
	    {% else %}
	    	<li class="nav-item">
	    {% endif%}
	        <a class="nav-link" href="{{ url_for('index') }}">About</span></a>
	      </li>
	      {% if session["userId"]%}
	        {% if session["view"] == "search"%}
	    		<li class="nav-item active">
	    	{% else %}
	    		<li class="nav-item">
	    	{% endif%}
	          <a class="nav-link" href="{{ url_for('search') }}">Search Books</a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" href="{{ url_for('logOut') }}">Sign Out</a>
	        </li>
	      {% else %}
	        {% if session["view"] == "login"%}
	    		<li class="nav-item active">
	    	{% else %}
	    		<li class="nav-item">
	    	{% endif%}
	          <a class="nav-link" href="{{ url_for('login') }}">Sign In</a>
	        </li>
	        {% if session["view"] == "registration"%}
	    		<li class="nav-item active">
	    	{% else %}
	    		<li class="nav-item">
	    	{% endif%}
	          <a class="nav-link" href="{{ url_for('registration') }}">Sign Up</a>
	        </li>
	      {% endif %}
	    </ul>
	  </div>
	</nav>

    {% block heading %}{% endblock %}

    {% block body %}{% endblock %}
</html>
